This is the dataset from Kaggle Dataset

In [12]:
import pandas as pd

establishment_df=pd.read_csv("data/Grab SG Restaurants.csv")

establishment_df.head()

#Used by Hassan
cuisine_df=establishment_df.copy()

# Used my Lee Hong Eng
grab_df = establishment_df.copy()

# Used by Rosni
grab_rest = establishment_df.copy()
'''

C:\Users\Kelley\AppData\Local\Programs\Microsoft VS Code

'\nimport pandas as pd\n\nestablishment_df=pd.read_csv("data/Grab SG Restaurants.csv")\n\nestablishment_df.head()\n\n#Used by Hassan\ncuisine_df=establishment_df.copy()\n\n# Used my Lee Hong Eng\ngrab_df = establishment_df.copy()\n\n# Used by Rosni\ngrab_rest = establishment_df.copy()\n'

## Exploratory Data Analysis

Simple exploratory Data Analysis to understand the data

In [ ]:
establishment_df.info()

So the dataset of 16136 rows of grab restaurants
you can see from the count that there are empty values for each column

In [ ]:
establishment_df.describe()

# Data Cleaning on 'address' column: SAILA
### Which involves data inspection, Data correction, Data standardization and Data transformation.

- Remove duplicates-> the address column values are keyed in together with the establishment name seperated by "-"
- Standardize the wording -> currently the values entries are inconsistent cases: 
    example : 'Vivocity' , 'VivoCity'
- Inconsistent entry -> for the same address it was entered inconsistantly
    example: 'Vivocity', 'Vivo City' , 'Vivocity Shopping mall'
- Need to filter and transform the address entries to avoid unnecessary disticnt values.

In [ ]:
#Splitting the data .Removing values before '-'
establishment_df['address'] = establishment_df['address'].apply(lambda x: x.split('-')[-1].strip())

# Display the modified DataFrame
print(establishment_df)

#### To Understand the dataframe entries-Distinct values at address column

In [ ]:

distinct_addresses = establishment_df['address'].unique()
address_counts = establishment_df['address'].value_counts()

# Display distinct values and their counts
print("Distinct Addresses:")
print(distinct_addresses)
print("\nCount of Distinct Addresses:")
print(address_counts.head(50))

#### Total Distinct values count

In [ ]:
# Assuming 'establishment_df' is your DataFrame containing the data
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

### Standardize all the add with tittle case.

In [ ]:
# Assuming 'establishment_df' is your DataFrame containing the data
establishment_df['address'] = establishment_df['address'].apply(lambda x: x.title())

# Display the modified DataFrame
establishment_df.head()

#### Cleaning the [address] column further by changing the case to tittle form.The distinct count reduced from 4998 to 4883

In [ ]:
#To find the total distinct value after changing the values in address column to tittle case.
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

### Filtering out the distinct data using alphabets to verify the values in the column and to do necessary transformation needed if the data was not input in accurately.

In [ ]:
# Assuming 'establishment_df' is your DataFrame containing the data

# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

### Tried using difflib library to standardize the entries up to 80% matching.( Didn't work)

In [ ]:
import difflib

# Filter the DataFrame to include only addresses starting with 'a'
addresses_starting_with_a = establishment_df[establishment_df['address'].str.lower().str.startswith('a')]['address'].unique()

# Define a function to find the best match for each address starting with 'a'
def standardize_address(address):
    matches = difflib.get_close_matches(address, addresses_starting_with_a, n=1, cutoff=0.7)
    if matches:
        return matches[0]
    else:
        return address

# Apply the standardization function to addresses starting with 'a'
standardized_addresses_starting_with_a = [standardize_address(address) for address in addresses_starting_with_a]

# Display the original and standardized addresses
print("Original Addresses:")
print(addresses_starting_with_a)

print("\nStandardized Addresses:")
print(standardized_addresses_starting_with_a)

### The result shows the total number of entries are the same before and after 'standardization' using the 'difflib' library

In [ ]:
# Count the total number of entries before standardization
total_entries_before = len(addresses_starting_with_a)

# Count the total number of entries after standardization
total_entries_after = len(set(standardized_addresses_starting_with_a))

# Print the total number of entries before and after standardization
print("Total entries with addresses starting with 'a' before standardization:", total_entries_before)
print("Total entries with addresses starting with 'a' after standardization:", total_entries_after)

### Standardize all the entries that have '[xxx]' and replace all the 'And' with '&' for standardization

In [ ]:
import re

# Define a function to standardize addresses and count changes
def standardize_address_and_count(address):
    # Initialize counter for changes
    num_changes = 0
    
    # Remove '[Stall xx]' part using regular expression
    standardized_address = re.sub(r'\[.*?\]', '', address)
    
    # Replace 'And' with '&' and remove leading/trailing spaces
    standardized_address = standardized_address.replace('And', '&').strip()
    
    # Replace any occurrence of 'Abc Brickworks' with 'Abc Brickworks Market & Food Centre'
    if 'Abc Brickworks' in standardized_address:
        standardized_address = standardized_address.replace('Abc Brickworks', 'Abc Brickworks Market & Food Centre')
        num_changes += 1
    
    return standardized_address, num_changes

# Apply the standardization function to the 'address' column of the DataFrame
establishment_df['standardized_address'], num_changes = zip(*establishment_df['address'].apply(standardize_address_and_count))

# Print the total count of entries that were changed
print("Total count of entries changed:", sum(num_changes))

# Print the list of entries that were changed
changed_entries = establishment_df[establishment_df['standardized_address'] != establishment_df['address']]
print("\nList of entries that were changed:")
for index, row in changed_entries.iterrows():
    print(row['address'], '->', row['standardized_address'])

In [ ]:
#To find the total distinct value after changing the values in address column to tittle case.
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

In [ ]:
# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

#### 2nd attempt on data standardization (it created a seperate columns instead)

In [ ]:
import re

# Define a function to standardize addresses and count changes
def standardize_address_and_count(address):
    # Initialize counter for changes
    num_changes = 0
    
    # Remove '[Stall xx]' part using regular expression
    standardized_address = re.sub(r'\[.*?\]', '', address)
    
    # Replace 'And' with '&' and remove leading/trailing spaces
    standardized_address = standardized_address.replace('And', '&').strip()
    
    # Replace any occurrence of 'Abc Brickworks' with 'Abc Brickworks Market & Food Centre'
    if 'Abc Brickworks' in standardized_address:
        standardized_address = standardized_address.replace('Abc Brickworks', 'Abc Brickworks Market & Food Centre')
        num_changes += 1
    
    return standardized_address, num_changes

# Apply the standardization function to the 'address' column of the DataFrame
establishment_df['address'], num_changes = zip(*establishment_df['address'].apply(standardize_address_and_count))

# Print the total count of entries that were changed
print("Total count of entries changed:", sum(num_changes))

# Print the list of entries that were changed
changed_entries = establishment_df[establishment_df['standardized_address'] != establishment_df['address']]

print("\nList of entries that were changed:")
for index, row in changed_entries.iterrows():
    print(row['address'], '->', row['standardized_address'])

In [ ]:
# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

### The distinct Values reduced from 4883 to 4029

In [ ]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

### Further standiardize the entries in address column by removing whatever additional information after the add like brackets and such, replace all the 'Amk' to 'Ang Mo Kio'

In [ ]:
import re

# Define a function to standardize addresses
def standardize_address(address):
    # Condition 1: Remove additional information after the address
    address = re.sub(r'\s*\([^)]*\)', '', address)

    # Condition 2: Replace variations of 'Ayer Rajah Food Centre' with 'Ayer Rajah Food Centre'
    if 'Ayer Rajah Food Centre' in address:
        address = 'Ayer Rajah Food Centre'

    # Condition 3: Replace variations of 'Ayer Rajah CC' with 'Ayer Rajah CC'
    elif 'Ayer Rajah Cc' in address or 'Ayer Rajah Community Centre' in address:
        address = 'Ayer Rajah CC'

    # Condition 4: Replace variations of 'Asia Square' with 'Asia Square'
    elif 'Asia Square' in address:
        address = 'Asia Square'

    # Replace variation 'Abc Brickworks Market & Food Centre Market & Food Centre Food Centre' 
    elif 'Abc Brickworks Market & Food Centre' in address:
        address = 'Abc Brickworks Market & Food Centre'

        
    # Condition 5: Replace 'Amk' with 'Ang Mo Kio'
    address = address.replace('Amk', 'Ang Mo Kio')

    #Replace variation 'Abc Brickworks Market & Food Centre Market & Food Centre Food Centre' 
    
    return address

# Apply the standardization function to the 'address' column of the DataFrame
establishment_df['address'] = establishment_df['address'].apply(standardize_address)

In [ ]:
# Step 1: Filter the DataFrame
filtered_df = establishment_df[establishment_df['address'].str.lower().str.startswith(('a'))]

# Step 2: Extract distinct values from the filtered DataFrame
distinct_addresses_filtered = filtered_df['address'].unique()

# Step 3: Sort the distinct values alphabetically
distinct_addresses_filtered_sorted = sorted(distinct_addresses_filtered)

# Display the sorted distinct values
print("Distinct addresses starting with 'a':")
for address in distinct_addresses_filtered_sorted:
    print(address)

#### The distint values reduced further from original 4883 to 3971

In [ ]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

### This is the standardization suggestion upon further investigation as its only done base on alphabet 'a', in future more cleaning needed to standardize the address to have better grouping

In [ ]:
print(establishment_df.isnull().sum())

#### Filter out corrupt Data . Removing rows with Null values in 'name' column 
- Possible reasons as the name shows test this might be test vendors at the initial grab phrase so dropping this rows

In [ ]:
# Drop rows with null values in the 'name' column
establishment_df.dropna(subset=['name'],inplace=True)

In [ ]:
print(establishment_df.isnull().sum())

In [ ]:
establishment_df.info()

In [ ]:
# Filter the DataFrame to select rows with null values in the 'rating' column
establishment_df[establishment_df['rating'].isnull()].head(5)

In [ ]:
# Step 2: Extract distinct values from the filtered DataFrame
establishment_df['loc_type'].unique()

#### Drop columns to remove duplicate columns

In [ ]:
# List of columns to drop
columns_to_drop = ['country', 'cuisine', 'currency', 'delivery_cost', 'opening_hours', 'image_url', 'radius', 'delivery_options', 'promo', 'delivery_by', 'delivery_time']

# Drop the specified columns from the DataFrame
establishment_df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
establishment_df.tail(5)

#### Noted there  was 2 columns for address: 'address' & 'standardized_address' 
- 'standardized_address' column was created as a result of trial and error in the process of data standardization
-  find the distict values of the both columns to chk if the standardization applied correctly to 'address' column

In [ ]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['standardized_address' ].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

In [ ]:
#To find the total distinct value after standardizing the data with removal of '[xxx]' and change 'And' to '&'
total_distinct_addresses = establishment_df['address'].nunique()

# Display the total number of distinct addresses
print("Total distinct addresses:", total_distinct_addresses)

#### Drop another column that was created as a result of trial and error in the process of data standardization

In [ ]:
# List of columns to drop
columns_to_drop = ['standardized_address']

# Drop the specified columns from the DataFrame
establishment_df.drop(columns=columns_to_drop, inplace=True)

In [ ]:
establishment_df.head(3)

#### Change all entries under 'address' column to lowercase to standardized further for easier analytics process in the future

In [ ]:
# Convert the values in the 'address' column to lowercase
establishment_df['address'] = establishment_df['address'].str.lower()

In [ ]:
establishment_df.head(3)

### Download neccesay libraries to Load the  establishment dataframe to postgres database

In [ ]:
!pip install sqlalchemy
!pip install psycopg2

### Adding to a Database Grab_df : ESTABLISHMENT_TBL - SAILA

In [ ]:
# from sqlalchemy import create_engine
# username='postgres'
# password = 'admin'
# hostname = 'localhost'
# port = 5432
# database = 'grab_db'

# db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

# #create a connection to the database
# #engine = create_engine('postgresql://postgres:admin@localhost:5432/grab_db')
# engine = create_engine(db_url)


# # Create a new establishment table
# commands = ('''Create TABLE IF NOT EXISTS establishment_tbl(id_source VARCHAR PRIMARY KEY,
#                                                 name VARCHAR,
#                                                 address VARCHAR,
#                                                 lat NUMERIC,
#                                                 lon NUMERIC,
#                                                 rating NUMERIC,
#                                                 reviews_nr NUMERIC,
#                                                 loc_type VARCHAR
#                                                 );''')

# #Copy the data to the PostgreSQL table
# establishment_df.to_sql('establishment_tbl', engine, if_exists='replace',index=False)

### Creating the dataframe : cuisine_df  - HASSAN

first we are going to replace the establishment_df['cuisine'] list rows from " into ' quote.
Then we create a column for the eventual primary key called cus_id
then we only have 3 columns in cuisine_df which is cuisine_id , id_source and cuisine

In [ ]:
#transferring master_df to cuisines_df

cuisine_df.info()

In [ ]:
#transferring master_df to cuisines_df
# cuisine_df=master_df
# cuisine_df.head()

#clearing ' due to aprostophe 's from cuisine_df['cuisine'] list
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace('\'',"")

#clearing " from cuisine_df['cuisine'] list
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace('"',"")

#clearing [,] from cuisine_df['cuisine'] list
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace('[',"")
cuisine_df['cuisine']=cuisine_df['cuisine'].str.replace(']',"")

# Add a primary key column
cuisine_df['cuisine_id'] = ['cus_' + str(i + 1) for i in range(len(cuisine_df))]

cuisine_df=cuisine_df[['cuisine_id','id_source','cuisine']]

#making all text in cuisine column to lowercase
cuisine_df.loc[:, 'cuisine']=cuisine_df['cuisine'].str.lower()

cuisine_df

null values found in cuisine, this we will fill it with thai for index 2473 and korean, beveragees for indx 15049

In [ ]:
cuisine_df[cuisine_df['cuisine'].isna()]

filling up null values in cuisine column with appropriate category types according to their establishment information

In [ ]:
# index 2473 filling up null values with relevant values
cuisine_df.at[2473, 'cuisine'] = 'thai'

# index 15049 filling up null values with relevant values
cuisine_df.at[15049, 'cuisine'] = 'beverages, korean'

#you may check again if there are any more nulls in cuisine column
#cuisine_df[cuisine_df['cuisine'].isna()]

For each row sort the values in the cuisines category in alphabetical order a-z

In [ ]:
# Sort the values within each string alphabetically
cuisine_df['cuisine'] = cuisine_df['cuisine'].apply(lambda x: ', '.join(sorted(x.split(', '))))


cuisine_df

After sort alphabetically break into seperate columns

In [ ]:
# Split the 'cuisine' column by comma and expand into separate columns
cuisines_split = cuisine_df['cuisine'].str.split(', ', expand=True)

# Rename the new columns
cuisines_split.columns = [f'cuisine_{i+1}' for i in range(cuisines_split.shape[1])]

# Concatenate the new columns with the original DataFrame and drop the old cuisine column
cuisine_df = pd.concat([cuisine_df.drop(columns=['cuisine']), cuisines_split], axis=1)

cuisine_df

### Checking commonality in the grouping to see if we can clean further

In [ ]:
#check commonlity

# Specify selected columns
selected_columns = ['cuisine_1', 'cuisine_2', 'cuisine_3', 'cuisine_4', 'cuisine_5']
# Apply value_counts function to each column and calculate commonality
commonality = cuisine_df[selected_columns].apply(pd.Series.value_counts, axis=1).fillna(0).sum().astype(int)

print(commonality)

Further cleaning to group certain category like michelin star, alcohol and etc

In [ ]:
# further cleaning to change 2 michelin star to 1 michelin star

# Find rows where any of the selected columns contain '2 michelin stars'
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('2 michelin stars')).any(axis=1)
# Replace '2 michelin stars' with 'michelin star'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('2 michelin stars', '1 michelin star')

# further cleaning to change 1 michelin star to michelin star
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('1 michelin star')).any(axis=1)
# Replace '2 michelin stars' with 'michelin star'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('1 michelin star', 'michelin star')

# further cleaning to change michelin guide to michelin star
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('michelin guide')).any(axis=1)
# Replace '2 michelin stars' with 'michelin star'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('michelin guide', 'michelin star')

#further cleanin alcoholic beverages to just alcohol
rows_to_replace = cuisine_df[selected_columns].apply(lambda x: x.str.contains('alcoholic beverages')).any(axis=1)
# Replace 'alcoholic beverages' with 'alcohol'
cuisine_df.loc[rows_to_replace, selected_columns] = cuisine_df[selected_columns].replace('alcoholic beverages', 'alcohol')

#to group and count each unique value of cuisine column
# Apply value_counts function to each column and calculate commonality
commonality = cuisine_df[selected_columns].apply(pd.Series.value_counts, axis=1).fillna(0).sum().astype(int)

# Sort commonality counts from biggest to smallest
commonality_sort_values = commonality.sort_values(ascending=False)

# Sort commonality counts alphabetically
commonality_sort_alpha = commonality.sort_index()

In [ ]:
cuisine_df.head()

### Adding to a Database Grab_df : CUISINE_TBL - HASSAN

In [ ]:
import psycopg2
from sqlalchemy import create_engine, VARCHAR
from psycopg2 import sql

username='postgres'
password = 'admin'
hostname = 'localhost'
port = '5432'
database = 'grab_db'

conn = psycopg2.connect(
    dbname=database,
    user=username,
    password=password,
    host=hostname,
    port=port
)

#Create a cursor object to execute SQL queries:
cur = conn.cursor()

# # Create a new cuisine table
commands_has = ('''Create TABLE IF NOT EXISTS cuisine_tbl(cuisine_id VARCHAR PRIMARY KEY,
                                                id_source VARCHAR,
                                                cuisine_1 VARCHAR,
                                                cuisine_2 VARCHAR,
                                                cuisine_3 VARCHAR,
                                                cuisine_4 VARCHAR,
                                                cuisine_5 VARCHAR
                                                );''')

cur.execute(commands_has)
conn.commit()



db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

# #create a connection to the database
# #engine = create_engine('postgresql://postgres:admin@localhost:5432/grab_db')
engine = create_engine(db_url)

# Execute the table creation query
# with engine.connect() as conn:
#     conn.execute(commands_has)

# # Step 9: Copy the data to the PostgreSQL table
cuisine_df.to_sql('cuisine_tbl', engine, if_exists='append', index=False, dtype={
    'cuisine_id': VARCHAR(length=255),  # Define the data type for cuisine_id explicitly
    'id_source': VARCHAR(length=255),
    'cuisine_1': VARCHAR(length=255),
    'cuisine_2': VARCHAR(length=255),
    'cuisine_3': VARCHAR(length=255),
    'cuisine_4': VARCHAR(length=255),
    'cuisine_5': VARCHAR(length=255)

} )                        
                  
cur.close()
conn.close()

### establishment opening hours dataframe - LEE HONG ENG

### Creating grab_df and subsetting opening hours column

In [ ]:
grab_df.info()

In [ ]:
import pandas as pd

# transferring master_df into grab_df - at the initial i have transferred from master
#grab_df = master_df

# subset openinghour df with records being dictionaries
op_hours_dict_df = grab_df[["opening_hours"]]

op_hours_dict_df.head()

### Cleaning opening_hours (JSON objects/ dictionaries)

In [ ]:
# replacing true to "True"
op_hours_dict_df = op_hours_dict_df['opening_hours'].str.replace('true','"True"')
op_hours_dict_df = pd.DataFrame(op_hours_dict_df)

op_hours_dict_df.head()

### Expanding the dictionaries into 10 separate columns

In [ ]:
import ast
from pandas import json_normalize

# Ensure that the column is in a proper list of dictionaries format
op_hours_dict_df['opening_hours'] = op_hours_dict_df['opening_hours'].apply(ast.literal_eval)

# Use json_normalize to convert the dictionaries into separate columns
op_hours_dict_df_expanded = op_hours_dict_df.join(json_normalize(op_hours_dict_df['opening_hours'])).drop('opening_hours', axis=1)

from IPython.display import display

display(op_hours_dict_df_expanded.head)
display(op_hours_dict_df_expanded.shape)

#### Joining id_source column from grab_df to op_hours_dict_df_expanded

In [ ]:
# Joining id_source column from grab_df to op_hours_dict_df_expanded
openinghour_df = pd.concat([grab_df[["id_source"]], op_hours_dict_df_expanded], axis=1, sort=False)
                  
openinghour_df.head()

#### Adding index column with prefix

In [ ]:
# Create a new index column and add a prefix
openinghour_df['openinghour_id'] = 'op_' + (openinghour_df.index + 1).astype(str)

# Set new index column to be the first column
openinghour_df = openinghour_df.set_index('openinghour_id').reset_index()

display(openinghour_df.head())
display(openinghour_df.shape)

In [ ]:
import numpy as np

# Count no. of NaN in dataframe
nan_count = openinghour_df.isna().sum().sum()

print(f'Total number of NaN values in the DataFrame: {nan_count}')

In [ ]:
# Number of NaN values for each column
nan_count_per_column_df = openinghour_df.isna().sum()

nan_count_per_column_df

In [ ]:
# No. of establishment minus no. of tempClosed equals 'NaN'
count_open = 16136-12849
print(count_open)

In [ ]:
# Create a new DataFrame based on the condition Open=NaN and tempClosed=True
opennull_tempclosetrue = openinghour_df[pd.isna(openinghour_df['open']) & (openinghour_df['tempClosed'] == 'True')]

print('Total no. of rows of tempClosed establishment = ' + str(len(opennull_tempclosetrue)))

In [ ]:
# Create a new DataFrame based on the condition tempClosed=True
tempclosedtrue = openinghour_df[pd.isna(openinghour_df['tempClosed'])]

print('Total no. of rows of (tempClosed is NaN) establishment = ' + str(len(tempclosedtrue)))

In [ ]:
# Create a new DataFrame based on the condition open=NaN
opentrue = openinghour_df[(openinghour_df['open'] == 'True')]

print('Total no. of rows of (open == "True") establishment = ' + str(len(opentrue)))

### There are 12849 - 7155 = 5694 establishment with  open==NaN and tempClosed==NaN

In [ ]:
12849-7155

In [ ]:
# Create a new DataFrame based on the condition open=NaN and tempClosed=NaN
opennull_tempClosednull = openinghour_df[pd.isna(openinghour_df['open']) & pd.isna(openinghour_df['tempClosed'])]

print('Total no. of rows of (open == "NaN" and tempClosed == "NaN") establishment = ' + str(len(opennull_tempClosednull)))
opennull_tempClosednull.head()

In [ ]:
#Subsetting grab_df with address and id_source
grab_df[["address","id_source"]].head()

### inner join on id_source and address to add address column to opennull_tempClosednull dataframe using .merge()

In [ ]:
# Performing an inner join on the 'id_source' column to include 'address' column to opennull_tempClosednull
#syntax for .merge >> inner_joined_df = df1.merge(df2, on='key', how='inner')

opennull_tempClosednull_address = grab_df[["address","id_source"]].merge(opennull_tempClosednull, on='id_source', how='inner')
opennull_tempClosednull_address.head()

<span style="color: blue; font-size: 20px;">Based on checking on first 5 establishments at time of interim project, they are currently open, meaning they were not permanently closed at time of dataset. Therefore, for sake of analysis in our project, it is assumed that all entries with open=NaN and tempClosed=NaN are not closed permanently, and are therefore included in the analysis of the dataset..</span>

#### Replacing open=NaN to True and tempClosed=NaN to False for rows with open=NaN & tempClosed=NaN

In [ ]:
# Conditionally fill NaN values in open with 'True' and in tempClosed with 'False'
openinghour_df.loc[openinghour_df['open'].isna() & openinghour_df['tempClosed'].isna(), ['open', 'tempClosed']] = [True, False]

#to check filling of NaN values for open=NaN and tempClosed=NaN 
openinghour_df.iloc[351]

#### For open=true and tempClosed=NaN, replace tempClosed=NaN to False
#### For open=NaN and tempClosed=true, replace open=NaN to False
#### For any of the days not = 'Closed', replace open to True and tempClosed to False

In [ ]:
# Conditionally fill NaN values in tempClosed with 'False'
openinghour_df.loc[openinghour_df['tempClosed'].isna(), ['tempClosed']] = ['False']

# Conditionally fill NaN values in open with 'False'
openinghour_df.loc[openinghour_df['open'].isna(), ['open']] = ['False']

# Update 'open' to True and 'tempClosed' to False where any of the days are not = 'Closed'
openinghour_df.loc[(openinghour_df['displayedHours'] != 'closed') 
                     | (openinghour_df['sun'] != 'Closed') 
                     | (openinghour_df['mon'] != 'Closed')
                     | (openinghour_df['tue'] != 'Closed') 
                     | (openinghour_df['wed'] != 'Closed')
                     | (openinghour_df['thu'] != 'Closed') 
                     | (openinghour_df['fri'] != 'Closed')
                     | (openinghour_df['sat'] != 'Closed') 
                     , ['open', 'tempClosed']] = [True, False]

openinghour_df.tail()

#### 9 establishment where displayedHours and all days are = 'Closed'

#### should we drop this 9 rows? some are mix n match, some arenot closed on google. MAYBE, they not using grab anymore? - will leave it til joining with establishment_tbl_df

In [ ]:
#displaying rows where displayedHours and all days are = 'Closed'
all_closed = openinghour_df[(openinghour_df['displayedHours'] == 'Closed')
                             & (openinghour_df['sun'] == 'Closed') 
                             & (openinghour_df['mon'] == 'Closed')
                             & (openinghour_df['tue'] == 'Closed') 
                             & (openinghour_df['wed'] == 'Closed')
                             & (openinghour_df['thu'] == 'Closed') 
                             & (openinghour_df['fri'] == 'Closed')
                             & (openinghour_df['sat'] == 'Closed')] 
                     
# Update 'open' to False and 'tempClosed' to True where displayedHours and all days are = 'Closed'
print(len(all_closed))

all_closed_address = grab_df[["address","id_source"]].merge(all_closed, on='id_source', how='inner')
all_closed_address.head()

In [ ]:
openinghour_df.info()

In [ ]:
print(openinghour_df.columns)

## CREATING table in database GRAB_DB: openinghour - LEE HONG ENG

In [ ]:
from sqlalchemy import create_engine, text

username='postgres'
password = 'admin'
hostname = 'localhost'
port = 5432
database = 'grab_db'

db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

# Create engine
engine = create_engine(db_url)

# Creating connection to grab_db - amend the password accordingly
#engine = create_engine('postgresql://postgres:interim@localhost:5432/grab_db')

# Send dataframe to database as a table
openinghour_df.to_sql('openinghour', engine, if_exists='replace', index=False)

with engine.connect() as connection:
    # Define the SQL statement using SQLAlchemy text construct
    sql_statement = text("""
        ALTER TABLE openinghour
        ADD CONSTRAINT openinghour_id PRIMARY KEY (openinghour_id);
        """)
        
        # Execute the SQL statement
    connection.execute(sql_statement)
        
    # Commit the transaction
    connection.commit()

# ROSNI

# transforming data to put in delivery_df

In [ ]:
grab_rest.info()

In [ ]:
#Details of delivery_df:(ROSNI)
#id_source,delivery_cost, radius, delivery_options, promo 
delivery = grab_rest[['id_source','delivery_cost','radius','delivery_options','promo']]

In [ ]:
#listing the name of columns in delivery data frame
delivery.columns

In [ ]:
#copying all the contents of the table "delivery" and assigning the name "delivery_1" 
delivery_1=delivery.copy()
#to delivery_1 adding extra column named delivery_cost_sds with value =delivery_cost/100
delivery_1['delivery_cost_sds']=delivery['delivery_cost']/100
delivery_1

In [ ]:
#selecting only the required columns to make a new df
delivery_df= delivery_1[['id_source','delivery_cost_sds','radius','delivery_options','promo']]
delivery_df

In [ ]:
##delivery_promo = delivery_df['promo']
#delivery_promo['promo'].fillna ("No promotion", inplace= True)
# this code didnt work. so trying again
# for thiscode delivery_promo =delivery_df[['promo']]
#error message---C:\Users\Ros\AppData\Local\Temp\ipykernel_31724\4246233546.py:7: SettingWithCopyWarning: 
#A value is trying to be set on a copy of a slice from a DataFrame
#See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#so i converted the delivery_promo table to df
delivery_promo = pd.DataFrame({'promo': delivery_df['promo']})

delivery_promo['promo'].fillna("No Promotion available", inplace= True)
delivery_promo

delivery_promo = pd.DataFrame({'promo': delivery_promo['promo']}): This line creates a new df by calling the pd.DataFrame() constructor. It takes a dictionary as an argument, where the keys are the column names and the values are the column data. In this case, the dictionary has a single key-value pair where the key is 'promo' (the name of the column) and the value is delivery_promo['promo']. This extracts the 'promo' column from the existing DataFrame delivery_promo and creates a new DataFrame with a single column named 'promo'.Essentially, this line of code is used to isolate the 'promo' column from the original DataFrame and create a new DataFrame with just that column. This step may be necessary to perform operations specifically on the 'promo' column without affecting the original DataFrame structure

In [ ]:

# Using .loc to modify the original DataFrame without triggering the warning
delivery_df.loc[:, 'promo'] = delivery_promo['promo']

In [ ]:
delivery_df.info()
#from this we can understand the delivery_cost_sds column has 16085 non-null values.The remaining 51 ROWS are null or NaN

In [ ]:
# Using isna() method to create a boolean mask for NaN values
nan_mask = delivery_df.isna().any(axis=1)

# Filter the DataFrame to select rows with NaN values
rows_with_nan = delivery_df[nan_mask]

# Display the rows with NaN values
print(rows_with_nan)

In [ ]:
rows_with_nan

In [ ]:
#To check how many columns and rows the contain NaN value.51 columns have NaN values under delivery_cost_sds
rows_with_nan.shape

In [ ]:
delivery_df

In [ ]:
grab_rest_name=grab_rest [['id_source','name']]
grab_rest_name

In [ ]:
# Using isna() method to create a boolean mask for NaN values
nan_mask_main = grab_rest_name.isna().any(axis=1)

# Filter the DataFrame to select rows with NaN values
names_with_nan = grab_rest_name[nan_mask_main]

# Display the rows with NaN values
print(names_with_nan)

In [ ]:
# List of values to delete
rows_to_delete = ['4-CZDJJTWFC8BAAN','4-C2T2GYAJBEVFJN','4-CZLVCKMHNYTXNX','4-CZKKR7K2JJ22NT', '4-CYNANF42AEVAVA','4-CZEXEPEWN6KKEN']  

# Filtering the DataFrame to exclude rows with specified values in the 'id_source' column
delivery_df = delivery_df[~delivery_df['id_source'].isin(rows_to_delete)]

# Alternatively, if you want to drop rows directly based on the specified values
# delivery_df = delivery_df.drop(delivery_df[delivery_df['id_source'].isin(values_to_delete)].index)

# Verify the DataFrame after deletion
delivery_df #now after 6 rows got deleted,now we have only 16130 rows and 5 columns

In [ ]:
delivery_df.iloc[650:705] #just checking if the rows are deleted.

In [ ]:
#unique_identifiers
delivery_df ['delivery_options'].unique()

In [ ]:
delivery_options_df =delivery_df[['delivery_options']]
delivery_options_df

In [ ]:
# Create new columns with default False values
#delivery_options_df['delivery'] = False
#delivery_options_df['take_away'] = False
#delivery_options_df['dine_in'] = False

# Update values based on conditions
#delivery_options_df.loc[delivery_options_df['delivery_options'].str.contains('delivery', case=False), 'delivery'] = True
#delivery_options_df.loc[delivery_options_df['delivery_options'].str.contains('take', case=False), 'take_away'] = True
#delivery_options_df.loc[delivery_options_df['delivery_options'].str.contains('dine', case=False), 'dine_in'] = True

# Display the modified DataFrame
delivery_options_df

In [ ]:
# Create new columns with default False values
delivery_df['delivery'] = False
delivery_df['take_away'] = False
delivery_df['dine_in'] = False

# Update values based on conditions
delivery_df.loc[delivery_df['delivery_options'].str.contains('delivery', case=False), 'delivery'] = True
#For the 'delivery' column, it checks if the 'delivery_options' column contains the word 'delivery' (case insensitive), and if so, sets the corresponding value in the 'delivery' column to True.
delivery_df.loc[delivery_df['delivery_options'].str.contains('take', case=False), 'take_away'] = True
# For the 'take_away' column, it checks if the 'delivery_options' column contains the word 'take' (case insensitive), and if so, sets the corresponding value in the 'take_away' column to True.
delivery_df.loc[delivery_df['delivery_options'].str.contains('dine', case=False), 'dine_in'] = True

# Display the modified DataFrame
delivery_df

In [ ]:
delivery_df

In [ ]:
#adding new index column ,'delivery_id'.
delivery_df['delivery_id']= 'delv_'+(delivery_df.index+1).astype(str)

delivery_df= delivery_df.set_index ('delivery_id').reset_index()

delivery_df

In [ ]:
delivery_df.iloc[5850:5862]

In [ ]:
delivery_df.info()

# Uploading table to database grab_db: delivery_tbl - ROSNI

In [ ]:
import psycopg2
from sqlalchemy import create_engine, VARCHAR, NUMERIC, BOOLEAN
from psycopg2 import sql

username='postgres'
password = 'admin'
hostname = 'localhost'
port = '5432'
database = 'grab_db'

conn = psycopg2.connect(
    dbname=database,
    user=username,
    password=password,
    host=hostname,
    port=port
)

#Create a cursor object to execute SQL queries:
cur = conn.cursor()

# # Create a new delivery table
commands_rosni = ('''CREATE TABLE IF NOT EXISTS delivery_tbl (
    delivery_id VARCHAR PRIMARY KEY,
    id_source VARCHAR,
    delivery_cost_sds NUMERIC,
    radius NUMERIC,
    delivery_options VARCHAR,
    promo VARCHAR,
    delivery BOOLEAN,
    take_away BOOLEAN,
    dine_in BOOLEAN
);''')

cur.execute(commands_rosni)
conn.commit()



db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

# #create a connection to the database
# #engine = create_engine('postgresql://postgres: rosni@localhost:5432/grab_db')
engine = create_engine(db_url)

# Execute the table creation query
# with engine.connect() as conn:
#     conn.execute(commands_rosni)

# # Step 9: Copy the data to the PostgreSQL table
delivery_df.to_sql('delivery_tbl', engine, if_exists='append', index=False, dtype={
    'delivery_id': VARCHAR(length=255),  # Define the data type for delivery_id explicitly
    'id_source': VARCHAR(length=255),
    'delivery_cost_sds': NUMERIC,
    'delivery_options': VARCHAR(length=255),
    'promo': VARCHAR,
    'delivery': BOOLEAN,
    'take_away': BOOLEAN,
    'dine_in': BOOLEAN

} )                        
                  
cur.close()
conn.close()

In [ ]:
# from sqlalchemy import create_engine
# username='postgres'
# password = 'admin'
# hostname = 'localhost'
# port = 5432
# database = 'grab_db'

# conn = psycopg2.connect(
#     dbname=database,
#     user=username,
#     password=password,
#     host=hostname,
#     port=port
# )

# #Create a cursor object to execute SQL queries:
# cur = conn.cursor()


# # Create a new delivery table
# commands_rosni = ('''Create TABLE IF NOT EXISTS delivery_tbl(delivery_id VARCHAR PRIMARY KEY,
#                                                 id_source VARCHAR,
#                                                 delivery_cost_sds VARCHAR,
#                                                 radius int,
#                                                 delivery_options VARCHAR,
#                                                 promo  VARCHAR,
#                                                 delivery BOOLEAN,
#                                                 take_away BOOLEAN,
#                                                 dine_in BOOLEAN
#                                                 );''')


# cur.execute(commands_rosni)
# conn.commit()


# connection_uri = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

# #connection_uri ='postgresql://postgres:rosni@localhost:5432/grab_db' #uri for connecting to postgrsql
# engine = create_engine (connection_uri) #engine for connecting 
# delivery_df.to_sql('delivery_tbl',engine, if_exists='replace',index=False) #copying the delivery_df to delivery_tbl

# cur.close()
# conn.close()

### Adding *establishment_tbl* to Grab table after adding the 3 foreign key: cuisine_df['cuisine_id'], openinghour_df['openinghour_id'], delivery_df['delivery_id']

In [ ]:
establishment_df.info()

In [ ]:
# establishment_df2=establishment_df.copy()

#establishment_df2.info()

#merging 1 column cuisine_df['cuisine_id'] based on id _source
establishment_df=pd.merge(establishment_df,cuisine_df[['id_source','cuisine_id']],on='id_source')

#merging 1 column  openinghour_df['openinghour_id'] based on id _source
establishment_df=pd.merge(establishment_df,openinghour_df[['id_source','openinghour_id']],on='id_source')

#merging 1 column  delivery_df['delivery_id'] based on id _source
establishment_df=pd.merge(establishment_df,delivery_df[['id_source','delivery_id']],on='id_source')

establishment_df.head()

In [ ]:
!pip install sqlalchemy_utils

In [ ]:
import psycopg2
from psycopg2 import sql

from sqlalchemy_utils import create_database
from sqlalchemy import create_engine
username='postgres'
password = 'admin'
hostname = 'localhost'
port = 5432
database = 'grab_db'

conn = psycopg2.connect(
    dbname=database,
    user=username,
    password=password,
    host=hostname,
    port=port
)

#Create a cursor object to execute SQL queries:
cur = conn.cursor()


# Create a new establishment table
commands_saila = ('''Create TABLE IF NOT EXISTS establishment_tbl(id_source VARCHAR PRIMARY KEY,
                                                cuisine_id VARCHAR REFERENCES cuisine_tbl(cuisine_id),
                                                openinghour_id VARCHAR REFERENCES openinghour(openinghour_id),
                                                delivery_id VARCHAR REFERENCES delivery_tbl(delivery_id),
                                                name VARCHAR,
                                                address VARCHAR,
                                                lat NUMERIC,
                                                lon NUMERIC,
                                                rating NUMERIC,
                                                reviews_nr NUMERIC,
                                                loc_type VARCHAR
                                                );''')


cur.execute(commands_saila)
conn.commit()


db_url = f'postgresql://{username}:{password}@{hostname}:{port}/{database}'

#create a connection to the database
#engine = create_engine('postgresql://postgres:admin@localhost:5432/grab_db')
engine = create_engine(db_url)

# # Step 9: Copy the data to the PostgreSQL table
establishment_df.to_sql('establishment_tbl', engine, if_exists='append', index=False, dtype={
    'id_source': VARCHAR(length=255),  # Define the data type for delivery_id explicitly
    'cuisine_id': VARCHAR(length=255),
    'openinghour_id': VARCHAR(length=255),
    'delivery_id': VARCHAR(length=255),
    'name': VARCHAR,
    'address': VARCHAR,
    'lat': NUMERIC,
    'lon': NUMERIC,
    'rating': NUMERIC,
    'reviews_nr': NUMERIC,
    'loc_type': VARCHAR,


} )                        
                  
cur.close()
conn.close()

#Copy the data to the PostgreSQL table
# establishment_df.to_sql('establishment_tbl2', engine, if_exists='replace',index=False)


# cur.close()
# conn.close()