In [15]:
import pandas as pd
grab_rest = pd.read_csv('C:/Users/Ros/Desktop/JDC/Grab_SG_Restaurants.csv')
grab_rest.head()

,id_source,name,address,country,cuisine,currency,delivery_cost,lat,lon,opening_hours,image_url,radius,rating,reviews_nr,delivery_options,promo,loc_type,delivery_by,delivery_time
0,SGDD01085,Texas Chicken,Texas Chicken - VivoCity,Singapore,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""...",SGD,570.0,1.264792,103.822103,"{""open"": true, ""displayedHours"": ""10:30-21:30""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,3.8,1591.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,43.0
1,4-CYTDLPUJEP53N6,Subway,Subway - Vivocity,Singapore,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""...",SGD,570.0,1.264741,103.822072,"{""open"": true, ""displayedHours"": ""12:00-19:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,3000,4.2,197.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,42.0
2,SGDD05605,LiHO Tea,LiHO Tea - Vivo City,Singapore,"[""Same Prices In-Store"", ""Beverages"", ""Local"",...",SGD,560.0,1.264309,103.821369,"{""open"": true, ""displayedHours"": ""11:30-20:45""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.5,353.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,41.0
3,SGDD07548,Wingstop,Wingstop - VivoCity,Singapore,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W...",SGD,560.0,1.263527,103.821712,"{""open"": true, ""displayedHours"": ""11:00-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.4,1391.0,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,45.0
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,Le Shrimp Ramen - Vivocity,Singapore,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]",SGD,570.0,1.264810,103.822554,"{""open"": true, ""displayedHours"": ""10:30-21:00""...",https://d1sag4ddilekf6.cloudfront.net/compress...,5000,4.6,309.0,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,FOOD,GRAB,44.0

In [16]:
grab_rest.columns

Index(['id_source', 'name', 'address', 'country', 'cuisine', 'currency',
       'delivery_cost', 'lat', 'lon', 'opening_hours', 'image_url', 'radius',
       'rating', 'reviews_nr', 'delivery_options', 'promo', 'loc_type',
       'delivery_by', 'delivery_time'],
      dtype='object')

In [17]:
cuisine_table =grab_rest[['id_source','name', 'cuisine']].drop_duplicates().reset_index(drop=True)

cuisine_table

,id_source,name,cuisine
0,SGDD01085,Texas Chicken,"[""Western"", ""Fast Food"", ""Halal"", ""Chicken"", ""..."
1,4-CYTDLPUJEP53N6,Subway,"[""Healthy"", ""Sandwiches"", ""Fast Food"", ""Halal""..."
2,SGDD05605,LiHO Tea,"[""Same Prices In-Store"", ""Beverages"", ""Local"",..."
3,SGDD07548,Wingstop,"[""Halal"", ""Chicken"", ""Fast Food"", ""Burger"", ""W..."
4,4-CY2ZLZLTT2EDJ2,Le Shrimp Ramen,"[""Japanese"", ""Ramen"", ""Noodles"", ""Asian""]"
...,...,...,...
16131,4-CZNFTYKKVA3UN2,Minjiangkueh,"[""Asian"", ""Bakery & Cake"", ""Breakfast & Brunch..."
16132,SGDD01192,The Modern Izakaya by Tatsu,"[""Japanese"", ""Noodles"", ""Grill""]"
16133,SGDD00961,Raj Restaurant,"[""Indian"", ""Dessert"", ""Vegetarian""]"
16134,4-C2AHJVATN7C2RE,Albismi Indian Muslim Food,"[""Indian""]"
16135,4-C2DXFEK2R6KJTJ,Zam Zam Indian Special Food,"[""Indian""]"

In [18]:
delivery = grab_rest[['id_source','delivery_cost','radius','delivery_options','promo']].drop_duplicates().reset_index(drop=True)
delivery

,id_source,delivery_cost,radius,delivery_options,promo
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [19]:
#Details of delivery_df:(ROSNI)
#id_source,delivery_cost, radius, delivery_options, promo 
delivery = grab_rest[['id_source','delivery_cost','radius','delivery_options','promo']]
delivery
#this is the delivery table with rows containing NaN values under promo column

,id_source,delivery_cost,radius,delivery_options,promo
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [20]:
#listing the name of columns in delivery data frame
delivery.columns

Index(['id_source', 'delivery_cost', 'radius', 'delivery_options', 'promo'], dtype='object')

In [21]:
delivery.describe()

       delivery_cost        radius
count   16085.000000  16136.000000
mean      984.926640   6871.493183
std       656.544752   6170.013565
min       199.000000    578.000000
25%       450.000000   4999.000000
50%       680.000000   5000.000000
75%      1610.000000   5000.000000
max     14000.000000  25000.000000

In [22]:
#copying all the contents of the table "delivery" and assigning the name "delivery_1" 
delivery_1=delivery.copy()
#to delivery_1 adding extra column named delivery_cost_sds with value =delivery_cost/100
delivery_1['delivery_cost_sds']=delivery['delivery_cost']/100
delivery_1

,id_source,delivery_cost,radius,delivery_options,promo,delivery_cost_sds
0,SGDD01085,570.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
1,4-CYTDLPUJEP53N6,570.0,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
2,SGDD05605,560.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,5.6
3,SGDD07548,560.0,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...,5.6
4,4-CY2ZLZLTT2EDJ2,570.0,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,5.7
...,...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN,NaN
16133,SGDD00961,560.0,3000,DELIVERY_TAKEAWAY_DINEIN,NaN,5.6
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...,NaN

In [23]:
#selecting only the required columns to make a new df
delivery_df= delivery_1[['id_source','delivery_cost_sds','radius','delivery_options','promo']]
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,NaN
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,NaN
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,NaN
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,NaN
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [24]:
##delivery_promo = delivery_df['promo']
#delivery_promo['promo'].fillna ("No promotion", inplace= True)
# this code didnt work. so trying again
# for thiscode delivery_promo =delivery_df[['promo']]
#error message---C:\Users\Ros\AppData\Local\Temp\ipykernel_31724\4246233546.py:7: SettingWithCopyWarning: 
#A value is trying to be set on a copy of a slice from a DataFrame
#See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

#so i converted the delivery_promo table to df
delivery_promo = pd.DataFrame({'promo': delivery_df['promo']})

delivery_promo['promo'].fillna("No Promotion available", inplace= True)
delivery_promo

                                                   promo
0      Use 'TEATIME' for FREE delivery between 3PM to...
1      Use 'TEATIME' for FREE delivery between 3PM to...
2      Use 'TEATIME' for FREE delivery between 3PM to...
3      Use 'TEATIME' for FREE delivery between 3PM to...
4      Use 'TEATIME' for FREE delivery between 3PM to...
...                                                  ...
16131                             No Promotion available
16132                             No Promotion available
16133                             No Promotion available
16134                             No Promotion available
16135  Use 'TEATIME' for FREE delivery between 3PM to...

[16136 rows x 1 columns]

delivery_promo = pd.DataFrame({'promo': delivery_promo['promo']}): This line creates a new df by calling the pd.DataFrame() constructor. It takes a dictionary as an argument, where the keys are the column names and the values are the column data. In this case, the dictionary has a single key-value pair where the key is 'promo' (the name of the column) and the value is delivery_promo['promo']. This extracts the 'promo' column from the existing DataFrame delivery_promo and creates a new DataFrame with a single column named 'promo'.Essentially, this line of code is used to isolate the 'promo' column from the original DataFrame and create a new DataFrame with just that column. This step may be necessary to perform operations specifically on the 'promo' column without affecting the original DataFrame structure

In [25]:

# Using .loc to modify the original DataFrame without triggering the warning
delivery_df.loc[:, 'promo'] = delivery_promo['promo']
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [26]:
delivery_df.info()
#from this we can understand the delivery_cost_sds column has 16085 non-null values.The remaining 51 ROWS are null or NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16136 entries, 0 to 16135
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_source          16136 non-null  object
 1   delivery_cost_sds  16085 non-null  float64
 2   radius             16136 non-null  int64
 3   delivery_options   16136 non-null  object
 4   promo              16136 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 630.4+ KB

In [27]:
# Using isna() method to create a boolean mask for NaN values
nan_mask = delivery_df.isna().any(axis=1)

# Filter the DataFrame to select rows with NaN values
rows_with_nan = delivery_df[nan_mask]

# Display the rows with NaN values
print(rows_with_nan)

              id_source  delivery_cost_sds  radius   delivery_options  \
623    4-CZDWKEXJV7EYNN                NaN   25000  DELIVERY_TAKEAWAY
647    4-C2MTV33CJZLUSE                NaN   25000      ONLY_DELIVERY
893    4-CZKKEBUFAFKGCX                NaN   10000      ONLY_DELIVERY
993    4-CZKKEBWJAJWCR2                NaN   15000      ONLY_DELIVERY
1009   4-C2KTCUK1PE22CT                NaN   25000      ONLY_DELIVERY
1039   4-C2NZNF6YLTL3PE                NaN   10000      ONLY_DELIVERY
1043   4-C2TVNK62ELN3KE                NaN   25000      ONLY_DELIVERY
1146   4-CZDWKEXCPB31RT                NaN   25000  DELIVERY_TAKEAWAY
2165   4-CZC2APLUCNTWN2                NaN    2500  DELIVERY_TAKEAWAY
2176   4-CZD3RK6TGUKJDE                NaN   25000  DELIVERY_TAKEAWAY
2232   4-C2T2JRLYLXWXR2                NaN    4000      ONLY_DELIVERY
3831   4-C2T2J62YNPNBGT                NaN   25000  DELIVERY_TAKEAWAY
4247   4-CZE1VPUUGGE1JT                NaN   25000  DELIVERY_TAKEAWAY
4284   4-C2L2A2JECA4ETN                NaN   25000      ONLY_DELIVERY
4374   4-C2LXKF61AF3ANN                NaN   25000      ONLY_DELIVERY
4394   4-C2L1UANXRFWUPA                NaN   25000      ONLY_DELIVERY
4412   4-C2JZGJ6WNXDGV6                NaN   25000      ONLY_DELIVERY
4453   4-C2BYCLLCLLKFRX                NaN   25000      ONLY_DELIVERY
4515   4-CZC1FBTGCJ33R6                NaN   20000  DELIVERY_TAKEAWAY
4823   4-C2DTPCNUFALHL6                NaN   25000      ONLY_DELIVERY
7814   4-CZATPBDFL6KXJ6                NaN   20000  DELIVERY_TAKEAWAY
8614   4-CZJHE7NWCEDCEE                NaN   25000      ONLY_DELIVERY
9380   4-CZC2DFVKJJCFGT                NaN   25000  DELIVERY_TAKEAWAY
9592   4-C2NCDBU1VZAGKA                NaN   25000      ONLY_DELIVERY
9597   4-CZJ3LTWJLAUYJJ                NaN   25000      ONLY_DELIVERY
9645   4-C2JYJYCER8NEUE                NaN   25000      ONLY_DELIVERY
9978   4-C2MZV2NWJ2EJVA                NaN   10000      ONLY_DELIVERY
10028  4-C2NFRCNZGE6HUE                NaN   25000      ONLY_DELIVERY
10179  4-C2EVEAXGL3CKT2                NaN   10000      ONLY_DELIVERY
11273  4-CZDYGFB3EX42AT                NaN   25000  DELIVERY_TAKEAWAY
14076  4-C2NYAYU1EPTCNJ                NaN   25000      ONLY_DELIVERY
15767  4-C2UGGBB1AA5TAX                NaN    3000  DELIVERY_TAKEAWAY
16112  4-C2NULJ6XEELYTJ                NaN    5000  DELIVERY_TAKEAWAY
16113  4-C2CAFBU3T24BGX                NaN    5000  DELIVERY_TAKEAWAY
16114  4-CZLXBGDCNRAFPA                NaN   10000      ONLY_DELIVERY
16116  4-C2UHTUVKJB51R2                NaN    2500      ONLY_DELIVERY
16118  4-CZNVVUUZJXDCR6                NaN    5000  DELIVERY_TAKEAWAY
16120  4-C2JWAKCFE7C2TJ                NaN    5000  DELIVERY_TAKEAWAY
16121  4-C2DKPANTSA51VE                NaN    5000  DELIVERY_TAKEAWAY
16122  4-C2NULJ6WCCCKLE                NaN    5000  DELIVERY_TAKEAWAY
16123  4-C2BVAKK1J7U3EX                NaN    5000      ONLY_DELIVERY
16124  4-C2MUAJN3UEWFJN                NaN   10000      ONLY_DELIVERY
16125  4-CYMUL4M3T2KGUE                NaN    5000  DELIVERY_TAKEAWAY
16126  4-CZEFR6AUNNXTLA                NaN    5000  DELIVERY_TAKEAWAY
16127  4-C2TVG3VEC752L2                NaN    5000  DELIVERY_TAKEAWAY
16129  4-CYVETVMAR7DVLX                NaN    5000  DELIVERY_TAKEAWAY
16130  4-C2MHKEVGRYXELT                NaN   10000      ONLY_DELIVERY
16131  4-CZNFTYKKVA3UN2                NaN    5000  DELIVERY_TAKEAWAY
16132         SGDD01192                NaN    3000  DELIVERY_TAKEAWAY
16134  4-C2AHJVATN7C2RE                NaN    5000  DELIVERY_TAKEAWAY
16135  4-C2DXFEK2R6KJTJ                NaN    5000  DELIVERY_TAKEAWAY

                                                   promo
623                               No Promotion available
647    Enjoy 20% off min. spend $25 with promo code "...
893    Enjoy 20% off min. spend $25 with promo code "...
993                               No Promotion available
1009   Enjoy 20% off min. spend $25 with promo code "...
1039   Enjoy 20% off min. spend $25 with promo code "...
1043   50% off United Sports Double Shoot-Out Arcade ...
1146   Use "GRAB5313" to enjoy a $5 discount, min spe...
2165                              No Promotion available
2176                              No Promotion available
2232   S$10.00 off delivery fee with S$225.00 min. order
3831                              No Promotion available
4247                              No Promotion available
4284   Enjoy 20% off min. spend $25 with promo code "...
4374                              No Promotion available
4394                              No Promotion available
4412   Enjoy 20% off min. spend $25 with promo code "...
4453   Enjoy 20% off min. spend $25 with promo code "...
4515                              No Promotion available
4823                              No Promotion available
7814                              No Promotion available
8614   Enjoy 20% off min. spend $25 with promo code "...
9380     S$3.00 off delivery fee with S$30.00 min. order
9592                              No Promotion available
9597   Enjoy 20% off min. spend $25 with promo code "...
9645                              No Promotion available
9978   Enjoy 20% off min. spend $25 with promo code "...
10028  Enjoy 20% off min. spend $25 with promo code "...
10179                             No Promotion available
11273  Use 'TEATIME' for FREE delivery between 3PM to...
14076                             No Promotion available
15767                             No Promotion available
16112                             No Promotion available
16113                             No Promotion available
16114  Enjoy 20% off min. spend $25 with promo code "...
16116                             No Promotion available
16118                             No Promotion available
16120                             No Promotion available
16121  Use 'TEATIME' for FREE delivery between 3PM to...
16122                             No Promotion available
16123                             No Promotion available
16124  Enjoy 20% off min. spend $25 with promo code "...
16125                             No Promotion available
16126                             No Promotion available
16127                    20% off with S$30.00 min. order
16129                             No Promotion available
16130  Enjoy 20% off min. spend $25 with promo code "...
16131                             No Promotion available
16132                             No Promotion available
16134                             No Promotion available
16135  Use 'TEATIME' for FREE delivery between 3PM to...

In [28]:
rows_with_nan

,id_source,delivery_cost_sds,radius,delivery_options,promo
623,4-CZDWKEXJV7EYNN,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
647,4-C2MTV33CJZLUSE,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
893,4-CZKKEBUFAFKGCX,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
993,4-CZKKEBWJAJWCR2,NaN,15000,ONLY_DELIVERY,No Promotion available
1009,4-C2KTCUK1PE22CT,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
1039,4-C2NZNF6YLTL3PE,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
1043,4-C2TVNK62ELN3KE,NaN,25000,ONLY_DELIVERY,50% off United Sports Double Shoot-Out Arcade ...
1146,4-CZDWKEXCPB31RT,NaN,25000,DELIVERY_TAKEAWAY,"Use ""GRAB5313"" to enjoy a $5 discount, min spe..."
2165,4-CZC2APLUCNTWN2,NaN,2500,DELIVERY_TAKEAWAY,No Promotion available
2176,4-CZD3RK6TGUKJDE,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
2232,4-C2T2JRLYLXWXR2,NaN,4000,ONLY_DELIVERY,S$10.00 off delivery fee with S$225.00 min. order
3831,4-C2T2J62YNPNBGT,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
4247,4-CZE1VPUUGGE1JT,NaN,25000,DELIVERY_TAKEAWAY,No Promotion available
4284,4-C2L2A2JECA4ETN,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
4374,4-C2LXKF61AF3ANN,NaN,25000,ONLY_DELIVERY,No Promotion available
4394,4-C2L1UANXRFWUPA,NaN,25000,ONLY_DELIVERY,No Promotion available
4412,4-C2JZGJ6WNXDGV6,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
4453,4-C2BYCLLCLLKFRX,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
4515,4-CZC1FBTGCJ33R6,NaN,20000,DELIVERY_TAKEAWAY,No Promotion available
4823,4-C2DTPCNUFALHL6,NaN,25000,ONLY_DELIVERY,No Promotion available
7814,4-CZATPBDFL6KXJ6,NaN,20000,DELIVERY_TAKEAWAY,No Promotion available
8614,4-CZJHE7NWCEDCEE,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
9380,4-CZC2DFVKJJCFGT,NaN,25000,DELIVERY_TAKEAWAY,S$3.00 off delivery fee with S$30.00 min. order
9592,4-C2NCDBU1VZAGKA,NaN,25000,ONLY_DELIVERY,No Promotion available
9597,4-CZJ3LTWJLAUYJJ,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
9645,4-C2JYJYCER8NEUE,NaN,25000,ONLY_DELIVERY,No Promotion available
9978,4-C2MZV2NWJ2EJVA,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
10028,4-C2NFRCNZGE6HUE,NaN,25000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
10179,4-C2EVEAXGL3CKT2,NaN,10000,ONLY_DELIVERY,No Promotion available
11273,4-CZDYGFB3EX42AT,NaN,25000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
14076,4-C2NYAYU1EPTCNJ,NaN,25000,ONLY_DELIVERY,No Promotion available
15767,4-C2UGGBB1AA5TAX,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16112,4-C2NULJ6XEELYTJ,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16113,4-C2CAFBU3T24BGX,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16114,4-CZLXBGDCNRAFPA,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
16116,4-C2UHTUVKJB51R2,NaN,2500,ONLY_DELIVERY,No Promotion available
16118,4-CZNVVUUZJXDCR6,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16120,4-C2JWAKCFE7C2TJ,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16121,4-C2DKPANTSA51VE,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
16122,4-C2NULJ6WCCCKLE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16123,4-C2BVAKK1J7U3EX,NaN,5000,ONLY_DELIVERY,No Promotion available
16124,4-C2MUAJN3UEWFJN,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
16125,4-CYMUL4M3T2KGUE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16126,4-CZEFR6AUNNXTLA,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16127,4-C2TVG3VEC752L2,NaN,5000,DELIVERY_TAKEAWAY,20% off with S$30.00 min. order
16129,4-CYVETVMAR7DVLX,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16130,4-C2MHKEVGRYXELT,NaN,10000,ONLY_DELIVERY,"Enjoy 20% off min. spend $25 with promo code ""..."
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...

In [29]:
#To check how many columns and rows the contain NaN value.51 columns have NaN values under delivery_cost_sds
rows_with_nan.shape

(51, 5)

In [30]:
delivery_df

,id_source,delivery_cost_sds,radius,delivery_options,promo
0,SGDD01085,5.7,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
1,4-CYTDLPUJEP53N6,5.7,3000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
2,SGDD05605,5.6,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
3,SGDD07548,5.6,5000,ONLY_DELIVERY,Use 'TEATIME' for FREE delivery between 3PM to...
4,4-CY2ZLZLTT2EDJ2,5.7,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...
...,...,...,...,...,...
16131,4-CZNFTYKKVA3UN2,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16132,SGDD01192,NaN,3000,DELIVERY_TAKEAWAY,No Promotion available
16133,SGDD00961,5.6,3000,DELIVERY_TAKEAWAY_DINEIN,No Promotion available
16134,4-C2AHJVATN7C2RE,NaN,5000,DELIVERY_TAKEAWAY,No Promotion available
16135,4-C2DXFEK2R6KJTJ,NaN,5000,DELIVERY_TAKEAWAY,Use 'TEATIME' for FREE delivery between 3PM to...